$font-blue: #10265c;
$font-black: #090909;
$font-grey-light: #969698;
$font-red: #ff0000;

$border-grey-light: #f0f2f5;
$border-dark: #090909;

$background-blue-light: #f4f6f9;
$background-grey-light: #f9fafc;
$background-white: #ffffff;
$background-yellow: #f5df66;
$background-yellow-accent: #e7cc38;